*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.btn{
    padding: 8px 20px;
    border: none;
    color: white;
    background-color: rgb(10, 127, 245);
}

a{
    color: blue;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.container1{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
}

nav{
    background-color: white;
    height: 70px;
    border-bottom: 1px solid lightgray;
    line-height: 70px;
    position: fixed;
    width: 100%;
}

#logo{
    vertical-align: middle;
    margin-top: -5px;
}

#logo-clearchannel{
    width: 100px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 0 15px;
}

li:last-child{
    margin-right: 0;
}

nav a{
    text-decoration: none;
    color: black;
}

.menu-left, .menu-right{
    width: 50%;
}

.menu-right{
    text-align: right;
}

header{
    background-color: rgb(180, 208, 231);
    height: 700px;
    margin-bottom: 200px;
}

.jumbotron{
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron .text-jumbo{
    width: 30%;
    padding: 30px 0;
}

.jumbotron .img-jumbo{
    width: 70%;
}

.jumbotron h1{
    font-size: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 100px;
}

.price, .period{
    font-size: 12px;
}

.jumbotron .arrow{
    font-size: 40px;
    padding-top: 30px;
}

.jumbotron .btn{
    margin: 20px 0 15px 0;
}

.jumbotron img{
    width: 935px;
}

.container .input-btn{
    padding: 30px 0 20px 0;
}

.piano {
    border: 1px solid lightgray;
}

.piano .header-piano{
    border-bottom: 1px solid lightgray;
}

.header-piano{
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.piano-description{
    padding: 15px;
}

.piano-description-section h4{
    font-size: 25px;
}

.piano-description-section h5{
    font-size: 15px;
    padding: 15px 0;
}

.piano-description-section .price{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
}

.piano-description-section .period{
    font-size: 15px;
    color: gray;
    padding-bottom: 35px;
}

.piano-description .acquista-ora{
    padding: 20px 0;
}

.piano-description hr{
    width: 50px;
}

.item-img, .item-description, .item-check{
    display: inline-block;
    height: 30px;
    font-size: 12px;
}

.piano-description-section .item-img, .item-check{
    vertical-align: top;
    padding-top: 3px;
}

.piano-description-section .item-check{
    color: blue;
    font-weight: 900;
}

.piano-description-section .item-description{
    width: 80%;
    padding-left: 5px;
}

.piano-description-section li{
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
}

.piano-description-section li:last-child{
    margin-bottom: 50px;
}

.piano-professional {
    width: calc(100% / 3 - 20px);
    margin-right: 10px;
}

.piano-standard{
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-right: 20px;
}

.piano-advanced {
    width: calc(100% / 3 - 20px);
    margin-left: 10px;
}

.piano-enterprise{
    margin-top: 30px;
    width: 100%;
    /* height: 50px; */
}

.piano-enterprise-left, .box-left{
    width: 65%;
}

.piano-enterprise-right, .box-right{
    width: 35%;
    padding: 20px;
}

.piano-enterprise-right .btn{
    width: 100%;
}

.piano-description-section .btn{
    width: 100%;
}

.partner-img, .partner-text{
    width: 50%;
    height: 390px;
}

.img-partner{
    height: 100%;
}

.partner .partner-text{
    padding: 50px 40px 40px 70px;
}

.partner .partner-text p{
    font-size: 14px;
    padding: 20px 0;
}

.partner .find-partner{
    font-size: 14px;
    width: 150px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.feature-card{
    width: calc(100% / 3);
    padding: 10px;
    height: 450px;
}

.feature-card .img1{
    width: 100%;
}

.clienti-header h2{
    font-size: 40px;
}

.clienti-header .link-clienti{
    margin: 20px 0 25px 0;
}

.clienti{
    height: 500px;
}

.box-loghi, .box-descrizione{
    width: calc(100% / 3);
    background-color:#f5f5f5;
}

.box-descrizione hr{
    width: 50px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin:  30px 0 50px 0; ;
}

.box-descrizione .author{
    padding-top: 50px;
}

.box-clienti{
    width: 50%;
    height: 250px;
    text-align: center;
    
}

[id^="logo-"]{
    width: 160px;
}

svg{
    fill: white;
    width: 100px;
    height: 100%;
}

.img-svg{
    fill: white;
    height: 100%;
}

.cliente1{
    background-color: #a2d39b;
}

.cliente2{
    background-color: #61082b;
}

.cliente3{
    background-color: #0093ce;
}

.cliente4{
    background-color: #ff1c1c;
}

.cliente5{
    background-color: #d5001f;
}

.cliente6{
    background-color: #b4d0e7;
}

.cliente7{
    background-color: #0d2481;
}

.cliente8{
    background-color: #ffd830;
}

.box-descrizione{
    height: 100%;
    padding: 25px;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-lightblue h2{
    font-size: 30px;
    color: maroon;
    padding-bottom: 50px;
}

.box-right{
    padding: 10px 0 0 60px
}

.bg-lightblue .btn{
    color: black;
    background: white;

}

.question h2{
    margin-bottom: 35px;
}

.question li{
    line-height: 60px;
    width: 100%;
    border-top: 1px solid lightgray;
    padding-left: 0px;
}

.question li:last-child{
    border-bottom: 1px solid lightgray;
}

[class^="question-"]{
    display: inline-block;
    width: 94%;

}

.question li .arrow{
    display: inline-block;
    text-align: right;
    width: 5%;
}

footer{
    background-color: black;
    color: white;
    padding: 50px 0;
    margin-top: 100px;
}

footer .container{
    padding: 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .col{
    width: 20%;
    height: 250px;
}

footer li{
    display: block;
    padding: 5px 0;
    font-size: 10px;
}

footer h6{
    font-size: 12px;
    padding-bottom: 15px;
}

footer hr{
    width: 100px;
    margin-bottom: 30px;
}

footer .language{
    font-size: 12px;
    color: gray;
    font-weight: bold;
}