*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.container{
    max-width: 900px;
    background-color: teal;
    margin: 0 auto;
}

nav{
    background-color: gray;
    height: 50px;
}

.menu-left, .menu-right{
    width: 50%;
    height: 50px;
    border: 1px solid white;
    line-height: 50px;
}

.menu-right{
    text-align: right;
}


header{
    background-color: aqua;
    height: 500px;
}

.jumbotron{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    height: 100%;
}

.text-jumbo{
    width: 30%;
    border: 1px solid black;
}

.img-jumbo{
    width: 70%;
    border: 1px solid black;
}

.partner-img, .partner-text{
    width: 50%;
    height: 350px;
    border: 1px solid black;
    background-color: yellow;
}

[class^="piano-"]{
    border: 1px solid black;
    background-color: white;
    height: 350px;
}

.piano{
    border: 1px solid black;
    width: 100%;
    height: 150px;
}

.piano-professional {
    width: calc((100% / 3) - 15px);
    margin-right: 15px;
}

.piano-standard{
    width: calc((100% / 3) - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.piano-advanced {
    width: calc((100% / 3) - 15px);
    margin-left: 15px;
}

.piano-enterprise{
    width: 100%;
    height: 50px;
}

.feature-card{
    width: calc(100% / 3);
    border: 1px solid black;
}